<h1 *ngIf="id">Produto {{ id }}</h1>
<h1 *ngIf="!id">Novo produto</h1>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <form>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Informe seu nome completo"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Informe seu melhor e-mail"
        />
      </div>

      <div class="mb-3">
        <label for="select" class="form-label">Seleção</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecione</option>
          <option value="1">Opção um</option>
          <option value="2">Opção dois</option>
          <option value="3">Opção três</option>
        </select>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="aceiteTermos" />
        <label class="form-check-label" for="aceiteTermos"
          >Aceito os termos de uso</label
        >
      </div>

      <div class="deck">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="/produtos">
          Fechar
        </button>
      </div>
    </form>
  </div>
</div>
